button {
    border: 1px solid black;
    border-radius: 5px;
    height: 40px;
    width: 200px;
    transition: 0.2s;
}

button:hover {
    cursor: pointer;
    background-color: black;
    color: wheat;
}

/*Button {*/
/*    border: none;*/
/*    background-color: #ccc;*/
/*    color: black;*/
/*    border-radius: 5px;*/
/*    height: 40px;*/
/*    width: 200px;*/
/*    transition: 0.2s;*/
/*    outline: none;*/
/*}*/

/*Button:hover {*/
/*    cursor: pointer;*/
/*    background-color: black;*/
/*    border: none;*/
/*    color: white;*/
/*}*/
