.courses-head {
    display: grid;
    grid-template-columns: 1fr 240px;
    text-align: start;
    padding-left: 20px;
}

ul {
    padding: 0 20px;
}

li {
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    /*box-shadow: grey 0 0 5px;*/
    /*background: #efefef;*/
    /*background: #f5deb370;*/
    /*background: linear-gradient(160deg, #f5deb370, #87cefa70);*/
    /*background: linear-gradient(160deg, wheat 50%, #87cefa70);*/
}


